<input type="button" value="Get Data" (click)="getMyData()"/><br>
All User Information<br>
<table class="table">
  <tr>
    <td>Name</td>
    <td>Email</td>
    <td>Mobile</td>
  </tr>
  <tr *ngFor="let item of mydata">
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.mobile}}</td>
  </tr>
</table>

<hr>

Name <input type="text" [(ngModel)]="SampleDataModel.Name"/><br>
Email <input type="text" [(ngModel)]="SampleDataModel.Email"/><br>
Mobile <input type="text" [(ngModel)]="SampleDataModel.Mobile"/><br>
<input type="button" value="Save" (click)="SaveInfo()"/>